<html>
    <body>
        <form method="post">
            operator : <input type="txt" name="txt1" required>
            number 1 : <input type="txt" name="txt2" required>
            number 2 : <input type="txt" name="txt3" required>
            marks : <input type="txt" name="txt4" required>
            
            <input type="submit">
        </form>
    </body>
</html>