<html>
    <body>
        <form method="post">
            width <input type="text" name="txt1" required>
            length <input type="text" name="txt2" required>
            x1 <input type="text" name="txt3" required>
            radius <input type="text" name="txt4" required><br/>
            y <input type="text" name="txt7" required>
            i <input type="text" name="txt8" required>
            s <input type="text" name="txt5" required>
            h <input type="text" name="txt6" required>
            number <input type="text" name="txt9" required>
            number1 <input type="text" name="txt11" required>
            <input type="submit">
            

        </form>
    </body>
</html>