<html>
    <body>
        <form method="post">
        n number<input type="text" name="txt10" required>
        a number<input type="text" name="txt11" required>
        b number<input type="text" name="txt1" required>    
        operator<input type="txt" name="txt15" required> 
        number1<input type="txt" name="txt16" required>    
        number2<input type="txt" name="txt17" required>    
        <input type="submit">

        </form>
    </body>
</html>